.settings {
  display: flex;
  background-color: var(--bg-clr);
}
.settingsWrapper {
  flex: 1;
  padding: 40px;
}
.settingsForm {
  display: flex;
  flex-direction: column;
  color: var(--main-heading);
}
.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}
.settingsForm > h2 {
  color: gray;
  margin: 10px 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid lightgray;
}
